<h1>Editing Food Business Permit</h1>

<%= render 'form', food_business_permit: @food_business_permit %>

<%= link_to 'Show', @food_business_permit %> |
<%= link_to 'Back', food_business_permits_path %>
